<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--<variable name="myvar" value="myvalue"/>-->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="Exceptions" xsi:type="File" encoding="UTF-8" fileName="Logs/${longdate}.txt"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString,StackTrace}"/>
    <target name="Startup" xsi:type="File" encoding="UTF-8" fileName="Logs/_StartupLog.txt" 
            layout="[${date:format=MM/dd/yyyy HH\:mm\:ss tt}] [${uppercase:${level}}] ${message}" deleteOldFileOnStartup="true"/>
    <target name="Warning" xsi:type="File" encoding="UTF-8" fileName="Logs/WarningLog.txt" 
            layout="[${date:format=MM/dd/yyyy HH\:mm\:ss tt}] ${message}" deleteOldFileOnStartup="true"/>
    <target name="UnParsedReplays" xsi:type="File" encoding="UTF-8" fileName="Logs/UnParsedReplays.txt" 
            layout="${message}"/>
    <target name="Translation" xsi:type="File" encoding="UTF-8" fileName="Logs/TranslationReplays.txt"
            layout="[${date:format=MM/dd/yyyy HH\:mm\:ss tt}] ${message}"/>
    <target name="HotsLogs" xsi:type="File" encoding="UTF-8" fileName="Logs/HotsLogsLogFile.txt"
            layout="[${date:format=MM/dd/yyyy HH\:mm\:ss tt}] ${message}"/>
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="Exceptions" minlevel="Error" writeTo="Exceptions"/>
    <logger name="StartupLogFile" minlevel="Debug" writeTo="Startup"/>
    <logger name="WarningLogFile" minlevel="Info" writeTo="Warning" />
    <logger name="UnParsedReplaysLogFile" minlevel="Info" writeTo="UnParsedReplays" />
    <logger name="TranslationLogFile" minlevel="Debug" writeTo="Translation" />
    <logger name="HotsLogsLogFile" minlevel="Debug" writeTo="HotsLogs" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
