<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HeroesMatchTracker.Data.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HeroesMatchTracker.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HeroesParserData" connectionString="data source=|DataDirectory|\Database\HeroesParserData.db; Version=3" providerName="System.Data.SQLite.EF6" />
    <add name="Replays" connectionString="data source=|DataDirectory|\Replays.sqlite; Version=3" providerName="System.Data.SQLite.EF6" />
    <add name="Settings" connectionString="data source=|DataDirectory|\Settings.sqlite; Version=3" providerName="System.Data.SQLite.EF6" />
    <add name="ReleaseNotes" connectionString="data source=|DataDirectory|\ReleaseNotes.sqlite; Version=3" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <HeroesMatchTracker.Data.Properties.Settings>
      <setting name="ReplaysConnNameDb" serializeAs="String">
        <value>Replays</value>
      </setting>
      <setting name="SettingsConnNameDb" serializeAs="String">
        <value>Settings</value>
      </setting>
      <setting name="DatabaseFolderName" serializeAs="String">
        <value>Databases</value>
      </setting>
      <setting name="ReplaysDbFileName" serializeAs="String">
        <value>Replays.sqlite</value>
      </setting>
      <setting name="SettingsDbFileName" serializeAs="String">
        <value>Settings.sqlite</value>
      </setting>
      <setting name="ReplaysDatabaseMigrationVersion" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="SettingsDatabaseMigrationVersion" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ReleaseNotesConnNameDb" serializeAs="String">
        <value>ReleaseNotes</value>
      </setting>
      <setting name="ReleaseNotesDbFileName" serializeAs="String">
        <value>ReleaseNotes.sqlite</value>
      </setting>
      <setting name="ReleaseNotesDatabaseMigrationVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Version1DatabaseName" serializeAs="String">
        <value>HeroesParserData.db</value>
      </setting>
      <setting name="MigrationLogFile" serializeAs="String">
        <value>DatabasesMigrationLog.txt</value>
      </setting>
      <setting name="OldHeroesParserDatabaseConnName" serializeAs="String">
        <value>HeroesParserData</value>
      </setting>
      <setting name="OldDatabaseFolderName" serializeAs="String">
        <value>Database</value>
      </setting>
    </HeroesMatchTracker.Data.Properties.Settings>
  </userSettings>
</configuration>