[submodule "Heroes.ReplayParser"]
	path = Heroes.ReplayParser
	url = https://github.com/koliva8245/Heroes.ReplayParser.git
[submodule "Heroes.Icons"]
	path = Heroes.Icons
	url = https://github.com/koliva8245/Heroes.Icons
